
:root {
  --primary: #333333;
  --secondary: #949494;
  --light: #ffffff;
  --hover-yellow: #FFBD54;
  --blue: #78C0DE;
  --gray-bg: #f3f3f3;
}

body {
  font-family: Futura PT;
  background: #f9f9f9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden-header {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute im !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px,1px,1px,1px);
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: var(--primary);
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: var(--secondary);
}

.btn {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  opacity: 0.6;
}

/* PERSONAL CONTACTS */
#personal-contacts {
  padding: 14px 10px;
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--primary);
  text-align: right;
}

#personal-contacts ol {
  list-style: none;
}

address {
  font-style: normal;
}

#personal-contacts > div {
  position: relative;
}

#personal-contacts > div::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -25px;
  width: 14px;
  height: 14px;
}

#personal-contacts > div:nth-child(1)::before {
  background-image: url(../img/address.png);
}
#personal-contacts > div:nth-child(2)::before {
  background-image: url(../img/phone.png);
}
#personal-contacts > div:nth-child(3)::before {
  background-image: url(../img/time.png);
}

.personal-contacts__address {
  margin-left: auto;
}

.personal-contacts__mobiles,
.personal-contacts__time {
  margin-left: 106px;
}

.time-list__item:nth-child(2),
.mobiles__phone:nth-child(2),
.mobiles__phone:nth-child(3) {
  margin-left: 17px;
}

.mobiles__phone {
  transition: all 0.1s ease-in-out;
}

.mobiles__phone:hover {
  color: var(--hover-yellow);
}
/* /PERSONAL CONTACTS */


/* HEADER */
#site-header {
  background: var(--light);
  z-index: -1;
}

.header__wrap {
  height: 61px;
}

.header__logo-wrap {
  position: relative;
}

.header__logo {
  position: absolute;
  top: -20px;
}

.header__nav,
.header__btn-wrap,
.header__logo-wrap {
  height: 100%;
}

.header__nav {
  margin-left: 115px;
}

.nav-list__item {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--primary);
  margin: 20px;
  z-index: 5;
}

.nav-list__item:first-child {
  margin-left: 0;
}

.nav-list__item::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -25px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

.nav-list__item::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0;
  background: #F4FFAD;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.nav-list__item--active::before {
  background-image: url(../img/active.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.nav-list__item:last-child {
  margin-right: 0;
}

.nav-list__item:hover::after,
.header__btn:hover::after {
  height: 6px;
}

.nav-list__item:active {
  opacity: 0.7;
}

.header__btn-wrap {
  z-index: 0;
}

.header__btn {
  position: relative;
  top: 21px;
}

.header__btn::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -30px;
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/paw-icon.png);
  background-size: cover;
  background-position: center center;
}

.header__btn::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0;
  background: #F4FFAD;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}
/* /HEADER */


/* HERO SECTION */
#hero {
  height: 118vh;
  background-image: url(../img/hero-left.png), url(../img/hero-right.png);
  background-repeat: no-repeat, no-repeat;
  background-position: -120px -20px, right 420px;
  background-size: 680px, 300px, auto;
}


.hero__desc {
  margin-left: calc(50% + 1px);
}

.hero__title {
  margin-top: 140px;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: var(--primary);
}

.hero__title span {
  color: var(--blue);
}

.hero__paragraph {
  margin-top: 20px;
}

.hero__btn {
  margin-top: 40px;
  padding: 15px 47px;
  background: var(--primary);
  color: var(--light);
}
/* /HERO SECTION */


/* QUOTE SECTION */
#quote {
  margin-top: 100px;
}

.quote__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__item {
  width: 753px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--secondary);
}

.quote__item::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -100px;
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url(../img/quote-up.svg);
  background-repeat: no-repeat;
}

.quote__item::after {
  content: '';
  position: absolute;
  top: 30px;
  right: -150px;
  display: inline-block;
  width: 100px;
  height: 50px;
  background-image: url(../img/quote-down.svg);
  background-repeat: no-repeat;
}

.quote__text {
  margin-top: 70px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--primary);
}
/* /QUOTE SECTION */


/* SERVICE SECTION */
#service {
  padding-top: 191px;
}

.service__cards {
  margin-top: 50px;
}

.card {
  width: 193px;
  height: 201px;
  position: relative;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 5px;
  background: var(--light);
}

.card button:hover {
  cursor: pointer;
}

.card__title {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
  width: 126px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.service__arrows {
  position: relative;
  top: 250px;
}

.service__arrow {
  position: absolute;
  color: var(--hover-yellow);
  font-size: 35px;
  background: transparent;
  width: 35px;
  height: 35px;
  border-radius: 2px;
  transition: all 0.1s ease-in-out;
}
.arrow-left {
  left: -20px;
}
.arrow-right {
  right: -35px;
}

.service__arrow:hover {
  cursor: pointer;
  background: var(--light);
}
.service__arrow:active {
  opacity: 0.7;  
}

.card::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
}

.service__cards:nth-child(2) {
  height: 220px;
  border-radius: 5px 5px 0 0 ;
  border-bottom: none;
}

.service__cards .card:nth-child(1)::before {
  background-image: url(../img/card1.svg);
}
.service__cards .card:nth-child(2)::before {
  background-image: url(../img/card2.svg);
}
.service__cards .card:nth-child(3)::before {
  background-image: url(../img/card3.svg);
}
.service__cards .card:nth-child(4)::before {
  background-image: url(../img/card4.svg);
}
.service__cards .card:nth-child(5)::before {
  background-image: url(../img/card5.svg);
}
.service__cards .card:nth-child(6)::before {
  background-image: url(../img/card6.svg);
}

.service__current {
  width: 1240px;
  margin-top: 0;
  margin-left: 20px;
  padding: 41px;
  background: var(--light);
  border-radius: 0px 5px 5px 5px;
}

.current__desc {
  padding-left: 50px;
}

.current__title {
  text-align: left;
  margin-bottom: 18px;
}

.current__paragraph {
text-align: left;
margin-bottom: 9px;
}

.current__btn-wrap {
  margin-top: 34px;
  display: flex;
  flex-direction: row;
}

.price-btn {
  position: relative;
  padding: 15px 36px;
  padding-left: 60px;
  color: var(--light);
  background: var(--hover-yellow);
}

.price-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(../img/btn-coin.svg);
  background-size: cover;
}

.note-btn {
  margin-left: 21px;
  position: relative;
  padding: 15px 36px;
  padding-left: 60px;
  color: var(--light);
  background: var(--primary);
}

.note-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(../img/btn-note.svg);
  background-size: cover;
}
/* /SERVICE SECTION */


/* FORMA SECTION */
#newsletter {
  margin-top: 235px;
  padding: 90px 0;
  height: 308px;
  background: var(--blue);
  background-image: url(../img/newsletterbg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.newsletter__wrap {
  position: relative;
  padding-left: 231px;
}

.newsletter__image {
  position: absolute;
  top: -198px;
  right: 0;
}

.newsletter__title {
  color: var(--light);
}

.forma {
  margin-top: 32px;
}

input {
  padding-left: 22px;
  width: 335px;
  height: 50px;
  background: var(--light);
  outline-color: var(--secondary);
  border-radius: 5px;
  border: none;
}

input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary);
}

.forma__btn {
  margin-left: 21px;
  padding: 15px 51px;
  background: var(--primary);
  color: var(--light);
  border: none;
}
/* /FORMA SECTION */


/* ARTICLE SECTION */
#articles {
  margin-top: 216px;
}

#articles ol {
  list-style: none;
}

.articles__title {
  text-align: center;
  width: 100%;
}

.articles__list {
  margin-top: 80px;
}

.article {
  width: 305px;
  height: 445px;
  border: 1px solid #E4E4E2;
  box-sizing: border-box;
  border-radius: 5px;
}

.article:nth-child(2) {
  
  display: flex;
  flex-direction: row;
  width: 630px;
  height: 445px;
}

.article:nth-child(2) .article__desc {
  background: var(--light);
}

.article:nth-child(2) .article__title {
  margin-top: 30px;
}

.article:nth-child(2) .article__paragraph {
  width: 100%;
}

.article__hashtag {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--blue);
}

.article__properties time {
  width: unset;
}

.article__desc {
  padding: 22px 30px;
}

.article__time {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: var(--secondary);
}

.article__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}

.article__link {
  margin-top: 37px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.article__link::before {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 23px;
  height: 20px;
  background-image: url(../img/paw-icon.png);
  background-size: cover;
  background-position: center center;
}
/* ARTICLE SECTION */


/* CONTACTS SECTION */
#contacts {
  margin-top: 265px;
}

.contacts__map iframe {
  width: 462px;
  height: 100%;
}

.contacts__wrap {
  background: var(--primary);
}

.contacts__inner {
  padding-top: 68px;
  padding-bottom: 68px;
  background-image: url(../img/contact-bg.png);
  background-position: center center;
  background-size: cover;
}

.contacts__text {
  margin-left: 140px;
}

.contacts__title {
  color: var(--light);
}

.contacts__paragraph {
  margin-top: 14px;
  margin-bottom: 35px;
}

.contacts__form {
  margin-left: 140px;
  display: flex;
  flex-direction: column;
}

.contacts__form input {
  width: 375px;
  margin-bottom: 14px;
  border-radius: 0;
}

textarea {
  padding: 17px 22px;
  width: 375px;
  height: 165px;
  border: none;
  outline-color: var(--secondary);
}

.contacts__btn {
  margin-top: 30px;
  padding: 15px 50px;
  width: 230px;
  color: var(--light);
  background: var(--hover-yellow);
  border: none;
}
/* CONTACTS SECTION */


/* FOOTER SECTION */
#site-footer {
  margin-top: 247px;
  padding: 61px;
  background: var(--gray-bg);
  z-index: -1;
}

#site-footer ol {
  list-style: none;
}

.footer__link {
  margin-bottom: 14px;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 8;
}
.footer__nav-list:first-child {
  margin-right: 87px;
}

.time-col,
.phone-col,
.address-col {
  position: relative;
}

.time-col::before,
.phone-col::before,
.address-col::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: -25px;
  width: 14px;
  height: 14px;
}

.address-col::before {
  background-image: url(../img/address.png);
}
.phone-col::before {
  background-image: url(../img/phone.png);
}
.time-col::before {
  background-image: url(../img/time.png);
}

.time-col__item,
.phone-col__item {
  margin-bottom: 3px;
}

.phone-col__item:hover {
  color: var(--hover-yellow);
  transition: all 0.1s ease-in-out; 
}

.footer__link::before {
  content: '';
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 3px;
  left: 0;
  display: inline-block;
  background: #F4FFAD;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.footer__link:hover::before {
  height: 6px;
}

.footer__link:active {
  opacity: 0.7;
}

/* /FOOTER SECTION */

