@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Bold.woff') format('woff'),
        url('FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Light.woff') format('woff'),
        url('FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book.woff') format('woff'),
        url('FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium.woff') format('woff'),
        url('FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Bold_1.woff') format('woff'),
        url('FuturaPT-Bold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Light_1.woff') format('woff'),
        url('FuturaPT-Light_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT';
    src: url('FuturaPT-Medium_1.woff') format('woff'),
        url('FuturaPT-Medium_1.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('FuturaPT-Book_1.woff') format('woff'),
        url('FuturaPT-Book_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

